/* body {
  height: 100vh;
} */

.loginForm:not(.open) {
  display: none;
}

.loginForm.open {
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(6px);

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#exit {
  position: relative;
  top: 0px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  border: 1px solid #a7a7a7;
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);

}
.card .card-content {
  margin: 0;
  padding: 16px;
}
.card .card-image {
  display: block;
  height: auto;
  width: 100%;
}
.card-title {
  margin: 0;

}