/* body {
  height: 100vh;
} */
/* .loginForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
.createForm form,
.loginForm form {
  background-color: rgb(182, 182, 182);
  border: 5px solid black;
  border-radius: 20px;
  padding: 15px;
  width: 350px;
}

.createForm:not(.open),
.loginForm:not(.open) {
  display: none;
}

.open {
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(6px);

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (min-width: 576px) {
  .card {
    flex-basis: 30% !important;
  }
}